[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
panel = "*"
watchfiles = "*"
hvplot = "*"
nbconvert = "*"
jupyter-bokeh = "*"
matplotlib = "*"
plotting = "*"
openai = "*"
plotly = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.9"
